.about-me {
    padding: 30px 20px;
    background: linear-gradient(135deg, #ffffff, #f0e5ff);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

.about-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.about-text h2 {
    display: flex;
    justify-content: center;
    font-size: 2.2rem;
    color: #A53DFF;

}

.about-text p {
    font-size: 1.1rem;
    line-height: 1.7;
    margin-bottom: 15px;
    transform: translateY(20px);
    transition: all 0.6s ease;
    color: black;
}

.contact-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: #3f0672;
    border: 1px solid white;
    color: white;
    border-radius: 25px;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-btn:hover {
    background: #11061a;
    border: 1px solid white;
    color: white;
    ;
}

.about-photo img {
    width: 250px;
    border-radius: 50%;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    opacity: 1;
    transform: translateY(20px);
    transition: all 0.6s ease;
}

@media (min-width: 768px) {
    .about-text h2 {
        display: flex;
        justify-content: center;
        font-size: 2.2rem;
        color: #A53DFF;

    }

    .about-container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .about-text {
        flex: 1 1 55%;
    }

    .about-photo {
        flex: 1 1 40%;
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 1024px) {
    .about-text h2 {
        font-size: 3rem;
    }

    .about-text p {
        font-size: 1.5rem;
    }

    .about-photo img {
        width: 300px;
    }
}