$primary-color: #A53DFF;
$secondary-color: #A53DFF;
$tertiary-color: #132238;

$violet-light: #C482FD;
$violet-accent: #DA4DF1;
$soft-pink: #FFC8C8;
$light-gray: #F0F1F3;


$text-dark: #132238;
$text-light: #FFFFFF;